@charset "utf-8";

#wrap {
    min-height: 100%;
    position: relative;
}
.inner {
    width: 1200px;
    margin: 0 auto;
}
.section {
    height: 100vh;
}
.section1 {
    background-color: antiquewhite;
}
.section2 {
    background-color: burlywood;
}
.section3 {
    background-color: darkkhaki;
}
.section4 {
    background-color: darksalmon;
}
.section5 {
    background-color: cornsilk;
}
.section4 h2 {
    text-align: center;
    font-size: 30px;
    color: #222;
    font-weight: 900;
    opacity: 1;
    padding-top: 30px;
}
.section5 h2 {
    text-align: center;
    font-size: 30px;
    color: #222;
    font-weight: 900;
    opacity: 1;
    padding-top: 30px;
}

/* random text */
.section1 .inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.random {
    font-size: 0;
}
.random span {
    font-size: 36px;
    font-weight: 900;
    color: #222;
    opacity: 0;
}
/*  // random text*/

/* card-1 */
.section2 {
    position: relative;
}
.section2 h2 {
    text-align: center;
    font-size: 30px;
    color: #222;
    font-weight: 900;
    opacity: 0;
}
.section2 .inner {
    position: relative;
}
.cardItem {
    position: absolute;
    left: -50%;
    width: 200px;
    height: 300px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    transition: transform 0.3s;
    cursor: pointer;
    opacity: 0;
}

.cardItem:nth-child(1) {
    background: linear-gradient(62deg, #fbab7e, #f7ce68);
}

.cardItem:nth-child(2) {
    background: linear-gradient(20deg, #ff5e7e, #ff99ac);
}

.cardItem:nth-child(3) {
    background: linear-gradient(160deg, #0093e9, #80d0c7);
}

.cardItem:nth-child(4) {
    background: linear-gradient(40deg, #fd1d1d, #833ab4);
}

.cardItem:nth-child(5) {
    background: linear-gradient(20deg, black 0%, #fc00ff 100%);
}
.cardItem:hover {
    transform: translateY(-20px);
}

/* // card-1 */

/* card-2 */
.section3 {
    position: relative;
    /* overflow-x: hidden; */
}
.section3 .inner {
    /* text-align: center; */
    height: 100%;
    position: relative;
    transform: scale(0.6) translateY(-100px);
}
.section3 h2 {
    text-align: center;
    font-size: 30px;
    color: #222;
    font-weight: 900;
    opacity: 1;
    padding-top: 30px;
}
.contWrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.contWrap li {
    /* display: inline-block; */
    float: left;
    /* margin: 0 2%; */
    margin: 0 20px;
    width: 200px;
    height: 300px;
    border-radius: 6px 6px 6px 6px;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: 20px;
    color: #fff;
}
.contWrap li:nth-child(1) {
    background: linear-gradient(45deg, #f7b733, #fc4a1a);
}

.contWrap li:nth-child(2) {
    background: linear-gradient(45deg, #fc00ff 0%, #401241 100%);
}

.contWrap li:nth-child(3) {
    background-image: linear-gradient(45deg, #ce713b 0%, #f7ce68 100%);
}

.contWrap li:nth-child(4) {
    background-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
}

.contWrap li:hover {
    transform: translateY(-20px);
}
/* // card-2 */
